{% extends 'layout.html' %}

{% block title %}Carrito de compras{% endblock %}

{% block content %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    $(function(){
        $('.elim').click(function(){
            $('.articulo').remove();
        });
    });

</script>
<div class="container bg-light">
    
    <h2>Carrito de compras</h2>
    <table class="table">

        <thead class="thead-dark">
            <tr>
                <th scope="col">Producto</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio</th>
                <th scope="col">Accion</th>
            </tr>
        </thead>
        
        <tbody>
            {% for item_id, data in session['compras'].items() %}
                {% if data.cantidad > 0 %}
                    <tr class="articulo">
                        <th scope="row">{{ data.nombre }}</th>
                        <td><input type="number" name="cantidad" value="{{ data.cantidad }}" }}></td>
                        <td>{{ data.p_total }}</td>
                        <td>
                            <a href="{{ url_for('eliminar', data=item_id) }}" class="btn btn-danger btn-sm m-0" id="elim">Eliminar</a>
                        </td>
                    </tr>
                {% endif %}
                
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('comprar') }}" class="btn btn-primary">Comprar</a>
</div>

{% endblock %}