{% extends 'layout.html' %}

{% block title %}Carrito de compras{% endblock %}

{% block content %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    $(function(){
        $('.elim').click(function(){
            $('.articulo').remove();
        });
    });

</script>
<h2>Carrito de compras</h2>
<form name="ShoppingList", action="{{ url_for('carrito') }}" method="POST">
    <table class="table table-striped table-responsive-md btn-table">

        <thead>
            <tr>
                <th>#</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Accion</th>
            </tr>
        </thead>
        
        <tbody>
            {% for item, cant in carrito.items() %}
                {% if cant > 0 %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ item }}</td>
                        <td>{{ cant }}</td>
                        <td>
                            <a href="{{ url_for('eliminar', item=item) }}" class="btn btn-danger btn-sm m-0">Eliminar</a>
                        </td>
                    </tr>
                {% endif %}
                
            {% endfor %}
        </tbody>
    </table>
    <button type="button" class="btn btn-primary">Comprar</button>
</form>

{% endblock %}