{% extends 'layout.html' %}

{% block title %}Catalogo{% endblock %}

{% block content %}
<h2>Catálogo de compras</h2>


{% for producto in productos %}
<div class="card">
    <img src="jeans3.jpg" alt="{{ producto[1] }}" style="width:100%">
    <h1>{{ producto[1] }}</h1>
    <p class="price">{{ producto[3] }}</p>
    <p>{{ producto[2] }}</p>
    <p><input type="number" min="1" max="999" step="1" value="1" size=3 ></p>
    <p><button>Add to Cart</button></p>
    <a href="{{ url_for('carrito', item=producto[0]) }}">Seleccionar</a>
</div>
<!-- <div class="card">
    <h3>{{ producto[1] }}</h3>
    <p>{{ producto[2] }}</p>
    <p>{{ producto[3] }}</p>
    <a href="{{ url_for('catalogo') }}">Seleccionar</a>
</div> -->
{% endfor %}
{% endblock %}