{% extends 'layout.html' %}

{% block title %}Catalogo{% endblock %}

{% block content %}
<h2>Catálogo de compras</h2>


<div class="row">
    <form action="" method="POST">
        <button>
            {% for producto in productos %}
            <div class="column">
                <div class="card">
                <h3>{{ producto[1] }}</h3>
                <p>{{ producto[2] }}</p>
                <p>{{ producto[3] }}</p>
                </div>
            </div>
            {% endfor %}
        </button>
    </form>
</div>


{% endblock %}