{% extends 'layout.html' %}

{% block title %}Carrito de compras{% endblock %}

{% block content %}
<h2>Carrito de compras</h2>
<div id="cartgrid">
        <table id="cart-table">
            <tbody>
                <tr class="heading">
                    <th>Información del producto</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Precio Total</th>
                    <th></th>
                </tr>
                <tr class="cart-row gray" data-orderlineid="02e9151d-24b4-46ca-8e9f-a4d000adbd83">
                    <td class="product-info" width="45%">
                        <div class="wrap">
                            <div class="small-4 columns item-thumb">
                                <a href=""><img src="" alt="95T Achieve Treadmill"></a>
                            </div>
                            <div class="small-8 columns description">
                                <div class="item-name">
                                    <a href="">95T Achieve Treadmill</a>
                                </div>
                                <div class="item-num">
                                    <span class="item-num-sku">Product Code: 456009801</span>
                                </div>
                                <div class="availability">
                                    <span class="instock">In Stock</span>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="quantity">
                        <div class="wrap">
                            <div class="item-qty">
                                <input type="text" id="02e9151d-24b4-46ca-8e9f-a4d000adbd83_qty" data-qty-input="" value="3" class="numerictextbox qty txt">
                            </div>
                            <div class="update">
                                <a class="update-btn" id="02e9151d-24b4-46ca-8e9f-a4d000adbd83_update" onclick="">Update</a>
                            </div>
                        </div>
                    </td>
                    <td class="price">
                        <div class="wrap">
                            <div class="price">
                                <span class="price">$3,599.00</span>
                            </div>
                        </div>
                    </td>
                    <td class="subtotal">
                        <div class="wrap">
                            <div class="price">
                                <div class="item-subtotal">
                                    $10,797.00
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="remove">
                        <div class="wrap">
                            <div class="remove">
                                <a class="btn btn-remove" onclick="">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}